@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #0A2463 !default;
$background-color: #FFFAFF !default;
$brand-color:      #3E92CC !default;

$grey-color:       #D8315B !default;
$grey-color-light: lighten($grey-color, 30%) !default;
$grey-color-dark:  darken($grey-color, 10%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 0.5em;
}

.post-item {
  display: inline;
  align-items: center;
  overflow:hidden;
}

.post-link {
  overflow:hidden;
  position: relative;
}

.home-image {
  display: relative !important;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 25px;
}

.home-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: $brand-color;
  border-radius: 25px;
}

.home-text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-text p {
  color: white;
  font-size: 14px;
}


.post-link:hover .home-overlay {
  opacity: 1;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
@media screen and (max-width: $device) {
@content;
}
}

@mixin relative-font-size($ratio) {
font-size: $base-font-size * $ratio;
}

// Import partials.
@import
"minima/base",
"minima/layout",
"minima/syntax-highlighting"
;
