---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {%- if site.posts.size > 0 -%}

  {{page.title}}

  <div class="post-grid">
  {%- for post in site.posts -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <div class="post-item">
    <a class="post-link" href="{{ post.url | relative_url }}">
      <img class="home-image" src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}"/>
      <div class="home-overlay">
        <div class="home-text">
          {{ post.title | escape }}
            <p>
            {% if post.categories.first == 'gamedev' %}
              Game
            {%- endif -%}
            {% if post.categories.first == 'appdev' %}
              App
            {%- endif -%}
            </p>
        </div>
      </div>
    </a>
  </div>
  {%- if site.show_excerpts -%}
  {{ post.excerpt }}
  {%- endif -%}

  {%- endfor -%}
  </div>
  {%- endif -%}

</div>
